<p>
  hello works! {{ myVar }} {{ 10 * 5 }} {{ bitwiseOR }}
  <br>
  {{ doSomeHeavyTask() }}
</p>

<p>
  <input type="text" value="{{inputValue}}">
  <input type="text" [value]="inputValue">

  <button (click)="myClickfunction()">Hey There!</button>
</p>

<p>
  <input type="text" [value]="text" (input)="updateTextValue($event)">
  <br>
  {{ text }}

  <input type="text" [(ngModel)]="text">
</p>

<table>
  <tr>
    <td>№</td>
    <td>Name</td>
    <td>Is online?</td>
  </tr>
  <tr
          *ngFor="let record of records; let myIndex = index; let evenRecord = even; let oddRecord = odd, let firstRecodr = first, let lastRecond = last"
          [ngClass]="{odd : oddRecord, even : evenRecord, first : firstRecodr, last : lastRecond}"
  >
    <td>{{ myIndex + 1 }}</td>
    <td>{{ record.name }}</td>
    <td>{{ record.online }}</td>
  </tr>
</table>

<br>

Somebody owes me {{ amount | currency: 'INR' | reverse }}

<!--Somebody owes me {{ amount | pipe1:option1:option1:option1... | pipe1:option1... }}-->